* {
    box-sizing: border-box;
  }
  
  .html {
    scroll-behavior: smooth;
}

/* Style the body */
body {
  background-color: #141414;
  color: #f5f5f5;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #141414;
    color: #F5F5F5;
  }

  /* Style the top navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: #F5F5F5;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #141414;
    color: #F5F5F5;
  }
    
  /* Create two unequal columns that sits next to each other */
  .content {
    background-color: #141414;
    display: block;
    height: 400px;
    padding: 0 0 20px 0;
  }
  
  /* Wrapper */
  .wrapper {
    flex: 15%;
    background-color: #141414;
    display: block;
    margin: 0 auto 20px auto;
    width: 80%;
    max-width: 1440px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
    
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #0D0D0D;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
